<!doctype html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create Account</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="main-container">
    <h1>Create Account</h1>
    <div class="account-container">
        <a class="all-users" type="submit" href="/users">All Users</a>
    </div>
    <hr>
    <br>
    <section class="user-section">
        <div class="user-content">
            <form action="/register" method="POST" autocomplete="off">
                <!--    USERNAME-->
                <div class="user-content, inline">
                    <label class="label">Username</label>
                    <input type="text" th:field="${user.username}" placeholder="TheJohnnyBananas" readonly
                           onfocus="this.removeAttribute('readonly')"/>
                </div>
                <!--    PASSWORD-->
                <div class="user-content, inline">
                    <label>Password</label>
                    <!--    This "user" is pulled from UserController.java, line 40-->
                    <input type="password" th:field="${user.password}" placeholder="StrongPassword!" readonly
                           onfocus="this.removeAttribute('readonly')"/>
                </div>
                <!--    NAME-->
                <div class="user-content, inline">
                    <label>Full Name</label>
                    <input type="text" th:field="${user.name}" placeholder="John Devenanzio" readonly
                           onfocus="this.removeAttribute('readonly')"/>
                </div>
                <br>
                <div>
                    <input class="account-button" type="submit" value="Create Account"/>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
</html>
