<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="main-container">

    <!-- H1 will display Users or User, depending on how many users are displayed -->
    <!-- The User's ID will appear next to User to ensure you know which user is being viewed. -->
    <h1 th:text="${users.size() == 1 ? 'User ' + users[0].userId : 'Users'}">Users</h1>
    <div class="account-container">
        <a class="create-account" type="submit" href="/register">Create Account</a>
    </div>
    <hr>

    <div th:each="user : ${users}">

        <section class="user-section">
            <!-- Display profile heading based on the number of users -->
            <!-- Displays "ID: id_number OR Profile ID: id_number -->
            <div th:if="${users.size() != 1}">
                <div class="user-id">
                    <label>ID: <a th:href="@{/users/{id}(id=${user.userId})}" th:text="${user.userId}"></a></label>
                </div>
            </div>

            <div th:if="${users.size() == 1}">
                <div class="user-id">
                    <h3>Profile ID: <a th:href="@{/users/{id}(id=${user.userId})}" th:text="${user.userId}"></a></h3>
                </div>
            </div>


            <!--            <div th:if="${includeAccounts}">-->
            <!--                <h3>Accounts:</h3>-->
            <!--                <ul>-->
            <!--                    <li th:each="account : ${user.accounts}" th:text="${account.accountName}"></li>-->
            <!--                </ul>-->
            <!--            </div>-->

            <form th:action="@{/users/{userId}(userId=${user.userId})}" th:object="${user}" method="POST">
                <!-- Profile section -->
                <div class="user-content" th:if="${users.size() == 1}">
                    <div class="inline">
                        <label class="label">Username:</label>
                        <div class="control">
                            <input class="input is-focused" type="text" th:field="*{username}" placeholder="">
                        </div>
                    </div>

                    <div class="inline">
                        <label class="label">Password:</label>
                        <div class="control">
                            <input class="input is-focused" type="text" th:field="*{password}" placeholder="">
                        </div>
                    </div>

                    <div class="inline">
                        <label class="label">Full Name:</label>
                        <div class="control">
                            <input class="input is-focused" type="text" th:field="*{name}" placeholder="">
                        </div>
                    </div>

                </div>


                <hr th:if="${users.size() == 1}">

                <!-- Address section -->
                <div th:if="${users.size() == 1}">
                    <h3>Address</h3>
                    <div class="user-content" th:if="${address != null}" th:object="${address}">
                        <div class="inline-address">
                            <label class="label">Address Line 1:</label>
                            <div class="control">
                                <input class="input is-focused" type="text" th:field="*{addressLine1}"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="inline-address">
                            <label class="label">Address Line 2:</label>
                            <div class="control">
                                <input class="input is-focused" type="text" th:field="*{addressLine2}"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="inline-address">
                            <label class="label">City:</label>
                            <div class="control">
                                <input class="input is-focused" type="text" th:field="*{city}" placeholder="">
                            </div>
                        </div>
                        <div class="inline-address">
                            <label class="label">Region:</label>
                            <div class="control">
                                <input class="input is-focused" type="text" th:field="*{region}" placeholder="">
                            </div>
                        </div>
                        <div class="inline-address">
                            <label class="label">Country:</label>
                            <div class="control">
                                <input class="input is-focused" type="text" th:field="*{country}"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="inline-address">
                            <label class="label">Zip Code:</label>
                            <div class="control">
                                <input class="input is-focused" type="text" th:field="*{zipCode}"
                                       placeholder="">
                            </div>
                        </div>
                        <div th:if="${address == null}">No address found for this user.</div>
                        <br>
                        <!-- Update button -->
                        <div class="button-container">
                            <input class="update-button" type="submit" value="Update User Account">
                        </div>
                    </div>
                </div>
            </form>
            <!-- Delete button -->
            <form class="user-content" th:if="${users.size() == 1}"
                  th:action="@{/users/{userId}/delete(userId=${user.userId})}"
                  method="POST" autocomplete="off">
                <div class="button-container">
                    <input class="delete-button" type="submit" value="Delete User Account">
                </div>
            </form>

            <br th:if="${users.size() == 1}">

            <!-- Success message (could build out more functionality here) -->
            <div th:if="${message}" th:text="${message}" style="color: green;"></div>

            <div class="user-content, user-section" th:unless="${users.size() == 1}">
                <span th:text="${user.username}"></span><br/>
                <span th:text="${user.password}"></span><br/>
                <span th:text="${user.name}"></span><br/>
            </div>
            <!--            <hr/> JUST COMMENTED OUT-->


            <!--            &lt;!&ndash; ACCOUNTS SECTION &ndash;&gt;-->
            <!--            <section th:if="${users.size() == 1}">-->
            <!--                <h3>Accounts</h3>-->
            <!--                <div class="user-content">-->
            <!--                    <div class="button-container">-->
            <!--&lt;!&ndash;                        <a class="account-button" th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">Create New Bank Account</a>&ndash;&gt;-->
            <!--&lt;!&ndash;                        <a class="account-button" th:href="@{/users/{userId}/accounts/(userId=${user.userId})}">Create New Bank Account</a>&ndash;&gt;-->
            <!--                        &lt;!&ndash; <input class="account-button" type="submit" value="Create New Bank Account">&ndash;&gt;-->
            <!--                        <form th:action="@{/users/{userId}/accounts/create(userId=${user.userId})}" method="post">-->
            <!--                            <button class="account-button" type="submit">Create New Bank Account</button>-->
            <!--                        </form>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <br>-->
            <!--                <hr>-->
            <!--            </section>-->


            <!-- ACCOUNTS SECTION -->
            <section th:if="${users.size() == 1}">
                <h3>Accounts</h3>
                <div class="user-content">
                    <div th:each="account : ${user.accounts}">
                        <a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
                           th:text="${account.accountName}"></a>
                    </div>
                    <br>
                    <div class="button-container">
                        <form th:action="@{/users/{userId}/accounts/create(userId=${user.userId})}" method="post">
                            <button class="account-button" type="submit">Create New Bank Account</button>
                        </form>
                    </div>
                </div>
                <br>
<!--                <hr>-->
            </section>


            <!-- User Accounts Section -->
            <div class="user-content" th:if="${users.size() > 1}">
                <div th:each="account : ${user.accounts}">
                    <a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
                       th:text="${account.accountName}"></a>
                </div>
            </div>
            <hr>
        </section>
    </div>

    <!--    I'm trying to write out a method in my Controller that will-->

    <!-- Error message if no user found -->
    <div th:if="${#lists.isEmpty(users)}">
        <p th:text="${errorMessage}">No user found.</p>
    </div>

    <!-- Back button ONLY appears when viewing a single user -->
    <div th:if="${users.size() == 1}">
        <a class="back-link" th:href="@{/users}">Back</a>
    </div>

</div>

</body>
</html>

