<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<!-- H1 will display Users or User, pending how many users are displayed -->
<!--The User's ID will appear next to User to ensure you know which user is being viewed.-->
<h1 th:text="${users.size() == 1 ? 'User ' + users[0].userId : 'Users'}">Users</h1>
<br>
<div>
    <a type="submit" href="/register">Create Account</a>
</div>
<br>
<hr>

<div th:each="user : ${users}">
    <div>
        <label>ID: <a th:href="@{/users/{id}(id=${user.userId})}" th:text="${user.userId}"></a></label>
    </div>

    <div th:if="${users.size() == 1}">
        <div class="inline">
            <label class="label">Username:</label>
            <div class="control">
                <input class="input is-focused" type="text" th:field="${user.username}" placeholder="">
            </div>
        </div>

        <div class="inline">
            <label class="label">Password:</label>
            <div class="control">
                <input class="input is-focused" type="text" th:field="${user.password}" placeholder="">
            </div>
        </div>

        <div class="inline">
            <label class="label">Full Name:</label>
            <div class="control">
                <input class="input is-focused" type="text" th:field="${user.name}" placeholder="">
            </div>
        </div>
    </div>

    <div th:unless="${users.size() == 1}">
        <span th:text="${user.username}"></span><br/>
        <span th:text="${user.password}"></span><br/>
        <span th:text="${user.name}"></span><br/>
    </div>

    <hr/>
</div>

<!-- Back button ONLY appears when viewing a single user -->
<div th:if="${users.size() == 1}">
    <a th:href="@{/users}">Back</a>
</div>

</body>
</html>

