<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Users</title>-->
<!--    <link rel="stylesheet" href="/style.css">-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash; H1 will display Users or User, pending how many users are displayed &ndash;&gt;-->
<!--<h1 th:text="${users.size() == 1 ? 'User' : 'Users'}">Users</h1>-->
<!--<br>-->
<!--<div>-->
<!--    <a type="submit" href="/register">Create Account</a>-->
<!--</div>-->
<!--<br>-->
<!--<hr>-->

<!--<div th:each="user : ${users}">-->
<!--    <div>-->
<!--        <labe>ID</labe>-->
<!--    </div>-->
<!--    <a th:href="@{/users/{id}(id=${user.userId})}" th:text="${user.userId}"></a><br/>-->
<!--    <div th:if="${users.size() == 1}" class="inline">-->
<!--        <label class="label">Username:</label>-->
<!--        <div class="control">-->
<!--            <input class="input is-focused" type="text" th:field="${user.username}" placeholder="">-->
<!--        </div>-->
<!--    </div>-->

<!--    <div th:if="${users.size() == 1}" class="inline">-->
<!--        <label class="label">Password:</label>-->
<!--        <div class="control">-->
<!--            <input class="input is-focused" type="text" th:field="${user.password}" placeholder="">-->
<!--        </div>-->
<!--    </div>-->

<!--    <div th:if="${users.size() == 1}" class="inline">-->
<!--        <label class="label">Full Name:</label>-->
<!--        <div class="control">-->
<!--            <input class="input is-focused" type="text" th:field="${user.name}" placeholder="">-->
<!--        </div>-->
<!--    </div>-->

<!--&lt;!&ndash;    <span th:text="${user.username}"></span><br/>&ndash;&gt;-->
<!--&lt;!&ndash;    <span th:text="${user.password}"></span><br/>&ndash;&gt;-->
<!--&lt;!&ndash;    <span th:text="${user.name}"></span><br/>&ndash;&gt;-->
<!--    <hr/>-->
<!--</div>-->

<!--&lt;!&ndash; Back button ONLY appears when viewing a single user &ndash;&gt;-->
<!--<div th:if="${users.size() == 1}">-->
<!--    <a th:href="@{/users}">Back</a>-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <hr>&ndash;&gt;-->
<!--</div>-->



<!--</body>-->
<!--</html>-->

<!--&lt;!&ndash;LEFT OFF WITH 03 - Showing Users on the HTML Page  &ndash;&gt;-->

<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<!-- H1 will display Users or User, pending how many users are displayed -->
<!--The User's ID will appear next to User to ensure you know which user is being viewed.-->
<h1 th:text="${users.size() == 1 ? 'User ' + users[0].userId : 'Users'}">Users</h1>
<br>
<div>
    <a type="submit" href="/register">Create Account</a>
</div>
<br>
<hr>

<div th:each="user : ${users}">
    <div>
        <label>ID: <a th:href="@{/users/{id}(id=${user.userId})}" th:text="${user.userId}"></a></label>
    </div>

    <div th:if="${users.size() == 1}">
        <div class="inline">
            <label class="label">Username:</label>
            <div class="control">
                <input class="input is-focused" type="text" th:field="${user.username}" placeholder="">
            </div>
        </div>

        <div class="inline">
            <label class="label">Password:</label>
            <div class="control">
                <input class="input is-focused" type="text" th:field="${user.password}" placeholder="">
            </div>
        </div>

        <div class="inline">
            <label class="label">Full Name:</label>
            <div class="control">
                <input class="input is-focused" type="text" th:field="${user.name}" placeholder="">
            </div>
        </div>
    </div>

    <div th:unless="${users.size() == 1}">
        <span th:text="${user.username}"></span><br/>
        <span th:text="${user.password}"></span><br/>
        <span th:text="${user.name}"></span><br/>
    </div>

    <hr/>
</div>

<!-- Back button ONLY appears when viewing a single user -->
<div th:if="${users.size() == 1}">
    <a th:href="@{/users}">Back</a>
</div>

</body>
</html>

